Flask==1.0.2
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3
SQLAlchemy==1.2.8
SQLAlchemy-Utils==0.33.3
flask-marshmallow==0.9.0
marshmallow==2.15.4
marshmallow-sqlalchemy==0.14.1
psycopg2==2.7.5
requests==2.18.4
fdk==0.0.32
oci==2.0.2